*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/*Reusable style*/
.container {
    width: 100%;
    padding: 0 1.5rem;
}

.btn {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    text-shadow: 1px 1px 1rem rgb(0, 0, 0);
    cursor: pointer;
}


.hamburger-menu {
    margin-top: 1.5rem;
    font-size: 2.6rem;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.hamburger-menu .fa-times{
    display: none;
    
}

.menu-open .hamburger-menu .fa-times{
    display: block;
    position: fixed;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}
.navbar{
    margin: 5 auto;
    top: -5px;
    background-color: #156795;
    
}
.navbar a{
    
    background-color: #156795;

    float: left;
    display: block;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {

    background-color: #156795;
}


.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0F0839;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.menu-open .nav-list {
    opacity: 1;
    transform: scale(1);
}

.nav-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.nav-link {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 3rem;
}

/*radisson blu style*/
.radissonblu {
    width: 100%;
    height: 100vh;
    background: url("../media/m031817-Radisson.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.radissonblu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #0f08399d;
    z-index: -1;
}

/*AlUla style*/
.AlUla {
    width: 100%;
    height: 100vh;
    background: url("../media/HabitasInAlUlaHero29Dec2023-1281x781.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.AlUla::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #0f08399d;
    z-index: -1;
}

/*Movenpick style*/
.movenpick {
    width: 100%;
    height: 100vh;
    background: url("../media/Klia_xxxxxxxxxxxxx_i125484_8by10.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.movenpick::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #0f08399d;
    z-index: -1;
}



.main-heading{
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgb(0, 0, 0);
    margin-bottom: 2.5rem;
}

.title {
    font-size: 4.8rem;
    letter-spacing: 3px;
}
.subtitle {
    margin-top: 1.5rem;
    font-size: 3.6rem;
    font-weight: 100;
    font-family: 'Satisfy', Cambria;

}
.discription {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.btn-gradient{
    background-image: linear-gradient(to right, #0066ff, #0f0839);
}
.btn-gradient:hover{
    background-image: linear-gradient(to left, #0066ff, #0f0839);
}

/*form sytyles*/

.booking {
    background-image: linear-gradient(to left, #0066ff, #0f08399d);
    padding: 3rem;
    text-shadow: 1px 1px 1rem rgb(0, 0, 0);
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-label{
    display: block;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: .3rem;
}

.input{
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.hotel-input {
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #000000;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.form-btn{
    margin-top: 2rem;
}

.btn-blue{
    background-color: #0f0839;
}

.btn-blue:hover {
    background-color: #0051fffd;
}

.h1 {
    background-image: linear-gradient(to right, #002b6b, #0f0839);
    color:#fff;
    text-shadow: 1px 1px 1rem rgb(0, 0, 0);
}

.error {
    color:rgb(255, 0, 0);
    margin-left: 1rem;
}
.success {
    color: #00f829;
    margin-left: 1rem;
}

body{
    overflow-x: hidden;
}


header {

    position: fixed;
    z-index: 1000;
    width: 100%;
}
.navbar{
    margin: 5 auto;
    top: -5px;
    background-color: #156795;
    
}
.navbar a{
    
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {

    background-color: #FFFFFF;
}

.Mainimg {

    position: static;
    top: 5px;
    z-index: -1;
    width: 100%;
    height: 400px;
    margin-top: 78px;
    
}

.thingstodo {

    color: #0d4b68;
    margin-top: 30px;
    margin-bottom: 20px;
}


.tddtxt{
    color:#1991D4;
    font-size: 40px;
    padding-top:10%;
    padding-left:10%;
    

}
.cont1{
    display:inline-block;
    width:25%;
    height:450px;
    border-radius:30px;
    margin-left:10%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:relative;
    
}
.lrgtxtcont1{
    font-size: 26px;
    color:#1991D4;
    padding-top:250px;
    text-align: center;
    
    
    
}
.smltxtcont1{
    font-size: 18px;
    color:#1991D4;
    padding-left:5%;
    

}
.midtxtcont1{
    font-size: 26px;
    color:#156795;
    text-align: left;
    padding-top:18%;
    padding-left:5%;
    display:inline-block;
    

}
.iconcont1{
    display:inline-block;
    padding-left:48%;
    

}
.riyadhpic{
    
    width:100%;
    height: 200px;
   
    border-radius: 30px;
    position:absolute;
    z-index: 2;
}

.cont2{
    display:inline-block;
    width:25%;
    height:500px;
    border-radius:30px;
    margin-left:10%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:relative;
    
    
}
.lrgtxtcont2{
    font-size: 26px;
    color:#1991D4;
    padding-top:250px;
    text-align: center;
    
    
    
}
.smltxtcont2{
    font-size: 18px;
    color:#1991D4;
    padding-left:5%;
    

}
.midtxtcont2{
    font-size: 26px;
    color:#156795;
    text-align: left;
    padding-top:18%;
    padding-left:5%;
    display:inline-block;
    

}
.iconcont2{
    display:inline-block;
    padding-left:48%;
    

}
.imgcont2{
    
    width:400px;
    height:200px;
    border-radius: 30px;
    position:absolute;
    z-index: 2;
}

.cont3{
    display:inline-block;
    width:400px;
    height:500px;
    border-radius:30px;
    margin-left:10%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:absolute;
    z-index:2px;
    
    
    
}
.lrgtxtcont3{
    font-size: 26px;
    color:#1991D4;
    padding-top:250px;
    text-align: center;
    
    
    
}
.smltxtcont3{
    font-size: 18px;
    color:#1991D4;
    padding-left:5%;
    

}
.midtxtcont3{
    font-size: 26px;
    color:#156795;
    text-align: left;
    padding-top:18%;
    padding-left:5%;
    display:inline-block;
    

}
.iconcont3{
    display:inline-block;
    padding-left:48%;
    

}
.imgcont3{
    
    width:400px;
    height:200px;
    border-radius: 30px;
    position:absolute;
    z-index: 2;
    
}
.v-more{
    position:relative;
    font-size: 32px;
    color:#156795;
    top:10%;
    left:60%;
    display:inline-block;
    text-decoration: none;

}
.mcont{
    position:relative;
    top: 250px;
    background-color:#0F0839 ;
    
}
.museh1{


position:relative;
top:100px;
left: 90px;
}
.museh1 h1{
    color: white;
    font-size: 50px;
    line-height: 70px;
}
.museimg{
   position:relative;
    top:200px;
    background-color: #0F0839;
    z-index:100;
    
}

.tddtxt2{
    color:#1991D4;
    font-size: 40px;
    padding-top:10%;
    padding-left:10%;
    

}





#e{
    position:relative;
    
}

.offcont{
    background-color:#0d4b68;
    
}
.off1{
position:relative;


}
.off1 h1{
    color:white;
    font-size: 50px;
    line-height: 70px;
    padding-left:40px;
    padding-top:90px;
    padding-bottom:40px;
}
.offcont{
    position:relative;
    top:250px;
    
}
footer{
    
    position:relative;
    top:10%;
    background-color: #0d4b68;
    border-bottom:100px #0d4b68 solid;
    
}
.contactscont{
    background-color: #0d4b68;
    position: relative;
    padding-top:300px;
    padding-left:10%;
}
.contactscont table{
    color:white;
    font-size: 20px;
    line-height: 30px;

}

.btn{
    color:white;
    background-color:#0d4b68!important;
    border-color:#0d4b68!important;
}

.imgoff{
    position:relative;
    z-index:100;
}
.footertxt{
    text-decoration: none;
    color:white;
}
#sec2{
    position:relative;
    top:450px;
    
}
#sec3{
    position:relative;
    top:200px;
    
}

/*Font type of page texts*/
html {
    scroll-behavior: smooth;
    font-family: tahoma;
}


@media only screen and (max-width:576px) {
    *{
        font-size:0.92em;
    }
    body{
        display:block;
    margin: 0 auto;
    overflow-y:scroll;

}
}
@media only screen and (max-width:768px) and (min-width:577px) {
    *{
        font-size:0.94em;
    }
}
  
    
    @media only screen and (max-width:992px) and (min-width:769px) {
        *{
            font-size:0.96em;
        }
        body{
            display:block;
        margin: 0 auto;
        overflow-y:scroll;
      
    }
}
