/* Navbar style */
.navbar {
    width: 100%;
    margin: 5 auto;
    position: fixed;
    top: -5px;
    background-color: #156795;
}

/*Navbar components style*/
.navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px;
    
}
#home{
    color: #ffffff;
}
#home:hover {

    background-color: #FFFFFF;
    color: black;
}
#userSymbol {
   color: #ffffff;
}
#userSymbol:hover {

    background-color: #FFFFFF;
    color: black;
}

/*Position of login text*/
#logintext {

    position: absolute;
    top: 20%;
    left: 8%;
}

/*Position of login form*/
#LoginSection {
   position: absolute;
   top: 32%;
   left: 8%;
   
}
/*Align text fields*/
#LoginForm label {
    width: 100px;
    display: block;
}


/*Style text fields*/
#LoginForm input {
    width: 115%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;  
    
}
/*Margin email input*/
#emaillogin {
    margin-bottom: 12px;
}

/*Border when user is typing*/
#LoginForm input:focus {
    border: 3px solid #156795;

}

/*Psition of forgot password?*/
 #forgotPassword {
    font-size: 11px;
    position: relative;
    left: 170%;
    color: #156795;
    text-decoration: none;
    
}


/*Style login buttn*/
#loginbutton {
    position: relative;
    width: 115%;
    border: none;
    text-align: center;
    background-color: #156795;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 12px;

}

/*Style sign up hyperlink*/
#signup {
    
    color: #156795;
    text-decoration: none;

}
#signuplabel {

    position: relative;
    top: 30px;
}



/*Image style*/
.imges img {
    position: relative;
    width: 66%;
    height: 250%;
    left: 33%;
    border-radius: 10px;
    
}


/*Font type of page texts*/
html {
    scroll-behavior: smooth;
    font-family: tahoma;
}

/*Screen sizes adjusment*/
@media only screen and (max-width:576px) {
 
    .navbar {

        width: 100%;
        height: 90%;
    }
    .navbar a {
        padding: 5px 10px; 
        font-size: 7px;
        
    }
    .imges img {
       
        width: 30%;
        height: 100%;
      
        
    }

}
@media only screen and (max-width:768px) and (min-width:577px) {
    .navbar {

        width: 100%;
        height: 90%;
    }
    .navbar a {
        padding: 5px 10px; 
        font-size: 14px;
        
    }
    .imges img {
       
        width: 30%;
        height: 100%;
      
    }
}
  
    
    @media only screen and (max-width:1270px) and (min-width:769px) {
        .navbar {

            width: 100%;
            height: 90%;
        }
        .navbar a {
            padding: 5px 10px; 
            font-size: 16px;
            
        }
        .imges img {
       
            width: 50%;
            height: 150%;
             
        }
}